<H1>
  Search Results
</H1>

<UL>
  <% @items.select do |item| %>
    <% if(@operand == "AND") %>
      <% item.type_id == @submitted_type_id && %>
      <% item.title == @submitted_title || %>
      <% item.description == @submitted_description || %>
      <% item.owner == @submitted_owner %>
    <% else %>
      <% item.type_id == @submitted_type_id || %>
      <% item.title == @submitted_title || %>
      <% item.description == @submitted_description || %>
      <% item.owner == @submitted_owner %>
    <% end %>
  <% end.each do |item| %>
    <LI>
        <B>Title:</B> <%= item.title %>
      <BR />
        <B>Description:</B> <%= item.description %>
      <BR />
        <B>Type:</B> <%= @types.find(item.type_id).title %>
      <BR />
        <B>Owner:</B> <%= item.owner %>
      <BR />
      <BR />
    </LI>
  <% end %>
</UL>
